.topbar{
    padding: 3rem 0;
    @include responsive(tablet){
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__logo,
    &__details,
    &__cta{

        @include responsive(tablet){
            flex: 1 0 50%;
        }

        @include responsive(desktop){
            flex: 1 0 33.3%;
        }
    }

    &__logo{

        @include responsive(tablet){
            flex: 1 0 50%;
        }

        @include responsive(desktop){
            flex: 1.2 0 33.3%;
        }

        a{
            height: 100%;
            display: inline-block;
            width: 100%;
            max-width: 47rem;
        }
    }

    &__details{
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            margin: 2rem 0;

            @include responsive(tablet){
                margin: 0 0 0 5rem;
            }

            li{
                
                font-size: 1.5rem;
                
                @include responsive (desktop){
                    font-size: 1.7rem;
                }

                i{
                    color: $secondaryColor;
                    margin-right: 2rem;
                }
            }
            
        }
    }

    &__cta{
        display: none;
        
        @include responsive(desktop){
            display: block;
            text-align: right;
        }

    }
}