*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
     // This defines what 1rem is
     scroll-behavior: smooth;
     font-size: (9px/16px)*100%;
     @include responsive (tablet){
         font-size: (10px/16px)*100%; //1 rem = 10px; 10px/16px = 62.5%
     }
}

body{
    box-sizing: border-box;
}

a:link{
    text-decoration: none;
}
a:link,
a:visited{
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
}